nav {
  padding: 1rem;
}

.navbar-brand {
  margin-right: 1rem;
}

.navbar-item {
  margin-right: 1rem;
  color: white !important;
  font-weight: bolder !important;
}

.navbar-menu {
  color: white;
  background-color: black;
}

.navbar-burger {
  color: #972eff;
  background-color: black;
}

span {
  color: #972eff;
  height: 2px !important;
  width: 26px !important;
}

.navbar-burger span {
  transition-duration: 1s;
}

.nav-item-styles:hover {
  border-bottom: 2px solid #972eff;
  background-color: black !important;
}

.cont-hov:hover {
  /* color: #972eff !important; */
  background-color: rgb(43, 42, 42) !important;
  font-weight: bolder;
}

.hov:hover {
  font-weight: bolder;
}

.navbar-item, .navbar-link {
  padding: 0.5rem 2.75rem !important; 
}