@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif !important;
}
h1 {
  font-family: "Poppins", sans-serif !important;
}

button {
  font-family: "Poppins", sans-serif !important;
}

.button {
  color: black;
}

.button:hover {
  background-color: #f9f7f7;
  color: black !important;
}

.linkedin {
  height: 6.5rem;
  width: 6.5rem;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}
