@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Poppins", sans-serif !important;
}
h1 {
  font-family: "Poppins", sans-serif !important;
}

button {
  font-family: "Poppins", sans-serif !important;
}

.button {
  color: black;
}

.button:hover {
  background-color: #f9f7f7;
  color: black !important;
}

.linkedin {
  height: 6.5rem;
  width: 6.5rem;
  margin-left: 1.2rem;
  margin-bottom: 1rem;
}

.projects .project-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  /* box-shadow:  0px 0px 29px -2px white; */
}

.column {
  padding: 0 !important;
}

.columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: linear-gradient(to bottom, #972eff, #e197fd);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.conta {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.conta.left {
  left: 0;
}

.conta.right {
  left: 50%;
}

.conta::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #972eff;
  border-radius: 16px;
  z-index: 1;
}

.conta.right::after {
  left: -8px;
}

.conta::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: linear-gradient(to bottom, #972eff, #e197fd);
  z-index: 1;
}

.conta.right::before {
  left: 8px;
}

.conta .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.conta.left .date {
  right: -75px;
}

.conta.right .date {
  left: -75px;
}

.conta .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: white;
  border: 2px solid #972eff;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: black;
  z-index: 1;
}

.conta.left .icon {
  right: 56px;
}

.conta.right .icon {
  left: 56px;
}

.conta .content {
  padding: 30px 90px 30px 30px;
  background: black;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.conta.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.conta .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.conta .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .conta {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .conta.right {
    left: 0%;
  }

  .conta.left::after,
  .conta.right::after {
    left: 82px;
  }

  .conta.left::before,
  .conta.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .conta.left .date,
  .conta.right .date {
    right: auto;
    left: 15px;
  }

  .conta.left .icon,
  .conta.right .icon {
    right: auto;
    left: 146px;
  }

  .conta.left .content,
  .conta.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}

.box-trust:hover {
  border-bottom: 5px solid #972eff;
}

.box-quality:hover {
  border-bottom: 5px solid #972eff;
}

.box-transparency:hover {
  border-bottom: 5px solid #972eff;
}

.box:not(:last-child) {
  margin-bottom: 0 !important;
}

.art-container {
  height: fit-content;
}

.pic {
  border-radius: 22.6em;
  width: 15rem;
  height: 15rem;
}

#aboutme-justin {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
}

.founder {
  display: flex;
  justify-content: center;
}

#aboutme-2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.5em;
}

#aboutme-para {
  text-align: center;
  font-weight: 300;
  line-height: 1.5;
  font-size: 1.5em;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
