@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000;
  color: white !important;
}

code {
  font-family: "Poppins", sans-serif !important;
}
h1 {
  font-family: "Poppins", sans-serif !important;
}

button {
  font-family: "Poppins", sans-serif !important;
}

.button {
  color: black;
  font-weight: 800;
}

.button:hover {
  font-weight: bolder !important;
  background-color: rgb(43, 42, 42) !important;
  font-size: 1.01rem !important;
}

.linkedin {
  height: 6.5rem;
  width: 6.5rem;
}

.projects .project-grid figure {
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  /* box-shadow:  0px 0px 29px -2px white; */
}

.column {
  padding: 0 !important;
}

.columns {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.timeline {
  position: relative;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 15px 0;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 2px;
  background: linear-gradient(to bottom, #972eff, #e197fd);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -1px;
}

.conta {
  padding: 15px 30px;
  position: relative;
  background: inherit;
  width: 50%;
}

.conta.left {
  left: 0;
}

.conta.right {
  left: 50%;
}

.conta::after {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  top: calc(50% - 8px);
  right: -8px;
  background: #ffffff;
  border: 2px solid #972eff;
  border-radius: 16px;
  z-index: 1;
}

.conta.right::after {
  left: -8px;
}

.conta::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 2px;
  top: calc(50% - 1px);
  right: 8px;
  background: linear-gradient(to bottom, #972eff, #ff934f);
  z-index: 1;
}

.conta.right::before {
  left: 8px;
}

.conta .date {
  position: absolute;
  display: inline-block;
  top: calc(50% - 8px);
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  z-index: 1;
}

.conta.left .date {
  right: -75px;
}

.conta.right .date {
  left: -75px;
}

.conta .icon {
  position: absolute;
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 9px 0;
  top: calc(50% - 20px);
  background: white;
  border: 2px solid #972eff;
  border-radius: 40px;
  text-align: center;
  font-size: 18px;
  color: black;
  z-index: 1;
}

.conta.left .icon {
  right: 56px;
}

.conta.right .icon {
  left: 56px;
}

.conta .content {
  padding: 30px 90px 30px 30px;
  background: black;
  position: relative;
  border-radius: 0 500px 500px 0;
}

.conta.right .content {
  padding: 30px 30px 30px 90px;
  border-radius: 500px 0 0 500px;
}

.conta .content h2 {
  margin: 0 0 10px 0;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.conta .content p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

@media (max-width: 767.98px) {
  .timeline::after {
    left: 90px;
  }

  .conta {
    width: 100%;
    padding-left: 120px;
    padding-right: 30px;
  }

  .conta.right {
    left: 0%;
  }

  .conta.left::after,
  .conta.right::after {
    left: 82px;
  }

  .conta.left::before,
  .conta.right::before {
    left: 100px;
    border-color: transparent #006e51 transparent transparent;
  }

  .conta.left .date,
  .conta.right .date {
    right: auto;
    left: 15px;
  }

  .conta.left .icon,
  .conta.right .icon {
    right: auto;
    left: 146px;
  }

  .conta.left .content,
  .conta.right .content {
    padding: 30px 30px 30px 90px;
    border-radius: 500px 0 0 500px;
  }
}

.box:not(:last-child) {
  margin-bottom: 0 !important;
}

.art-container {
  height: fit-content;
}

.pic {
  border-radius: 22.6em;
  width: 15rem;
  height: 15rem;
}

#aboutme {
  text-align: center;
  font-weight: 400;
  font-size: 1.3em;
  margin-top: 1.1rem;
}

.founder {
  display: flex;
  justify-content: center;
}

#aboutme-2 {
  text-align: center;
  font-weight: 400;
  font-size: 1.3em;
  margin-top: 1.1rem;
}

#aboutme-para {
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.5em;
  padding: 0.1rem;
}

/* Home Page Our Work */
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 80rem;
  margin-top: 2rem;
  margin-bottom: 6rem;
}

.cols {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0.5rem;
}

.col {
  width: calc(33% - 2rem);
  margin: 1rem;
  cursor: pointer;
}

.container {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-perspective: 1000px;
  perspective: 1000px;
  border-radius: 0.5rem;
}

.front,
.back {
  background-size: cover;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background-position: center;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  text-align: center;
  min-height: 280px;
  height: auto;
  border-radius: 5px;
  color: white;
  font-size: 1.5rem;
}

.front:after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  opacity: 0.3;
  background-color: #000;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5px;
}
.container:hover .front,
.container:hover .back {
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
  transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
    -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: black;
}

.inner {
  -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
  transform: translateY(-50%) translateZ(60px) scale(0.94);
  top: 50%;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 2rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: 1px solid transparent;
  -webkit-perspective: inherit;
  perspective: inherit;
  z-index: 2;
}

.container .back {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container .front {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .back {
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.container:hover .front {
  -webkit-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.front .inner p {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  position: relative;
}

.front .inner p:after {
  content: "";
  width: 4rem;
  height: 2px;
  position: absolute;
  background: rgb(66, 71, 71);
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: -0.75rem;
}

.front .inner span {
  color: rgba(255, 255, 255, 0.7);
  font-weight: 300;
}

@media screen and (max-width: 64rem) {
  .col {
    width: calc(33.333333% - 2rem);
  }
}

@media screen and (max-width: 48rem) {
  .col {
    width: calc(50% - 2rem);
  }
}

@media screen and (max-width: 32rem) {
  .col {
    width: 100%;
    margin: 0 0 2rem 0;
  }
}

#videoDiv2 {
  width: 100%;
  height: 300px;
  position: fixed;
  top: 0;
  left: 0;
}
#video2 {
  margin: auto;
  display: block;
  opacity: 0.2;
}
#videoMessage2 {
  position: absolute;
  top: 16rem;
  left: 12rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  color: white;
  text-align: left;
  width: 50rem;
  row-gap: 1rem;
}

.serv-cards {
  border-radius: 1rem;
  background-color: rgb(52, 51, 51);
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
}

.cont-img {
  background-image: url("../src/assets/hero.jpg") !important;
  background-size: cover;
  border-radius: 1rem;
  min-height: 30rem;
}

.img-cta {
  border-radius: 1rem;
}
